<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>All Employees</title>
</head>

<body>
<h1> Heeloo welcome </h1>

<a href ="/edit"><i>ADD EMPLOYEES</i></a>
    <table>
        <tr>
            <th>
                First Name
            </th>

            <th>
                Last Name
            </th>

            <th>
                Email Name
            </th>
        </tr>

        <tbody>
            <tr th:each = "emp : ${employees}">
                <td th:text = "${emp.firstName}"> </td>
                <td th:text = "${emp.lastName}"> </td>
                <td th:text = "${emp.email}"> </td>
                <td>
                    <a th:href="@{/edit/{id}(id=${emp.id})}"> EDIT </a>
                </td>
                <td>
                    <a th:href="@{/delete/{id}(id=${emp.id})}"> DELETE</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>